* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

input{
  padding: 5px;
  font-size: 1.2rem;
  width: 100%;
}

form button{
  padding: 5px;
  font-size: 1.2rem;
  width: 100%;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}

header{
  font-size: 1.1rem;
}